body{
    margin: 0px;
    padding: 0px;
    font-family: 'Baloo Bhai 2', cursive;
}
html{
    scroll-behavior: smooth;
}
.top{
    display: flex;
    background-color: black;
    transition: background-color 1s ease-in .2s;
}
.top:hover{
    background-color: rgb(148, 146, 146);
}
.top img{
    height: 3.6rem;
    width: 4rem;
}    
.navbar ul{
    display: flex;
    list-style: none;
}
.navbar ul li a{
    padding: 6px 12px;
    margin: 6px;
    text-decoration: none;
    color: white;
}
.navbar ul li a:hover{
    color: black;
    background-color: white;
    border-radius: 12px;
}
.search{
    width: 8rem;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 37px;
    /* border: 1px solid black; */
    border-radius: 0px 9px 0px 9px;
    padding-left: 14px;
    text-align: left;
}
body{
    background: url(images/bg1.jpeg) no-repeat ;
    background-size: cover;
    height: 101vh;
    width: 100vw;
}
.head{
    color: rgb(21, 24, 212);
    display: block;
    width: 23rem;
    font-weight: 700;
    margin: auto;
    font-size: 47px;
    text-decoration: underline;
    position: relative;
    top: 5px;

}
.image{
    width: 10rem;
    height: 10rem;
}
p{
    width: 15rem;
    color: rgb(3, 9, 102);
}
.container{
    display: flex;
    justify-content: space-around;
}
.box{
    margin: 3px;
    padding: 47px 5px;
    padding-bottom: 0%;
    text-align: center;
    border-radius: 30px;
    transition: all 1s ease-in-out .2s;
}
.box:hover{
    background-color: rgb(175 198 195);
    cursor: pointer;
}
.spec{
    background-color: rgb(135, 197, 222);
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color: rgb(138, 80, 6);
    margin: 0%;
    padding: 0%; 
}
.speciality{
    display: flex;
    background-color: rgb(135, 197, 222);
    justify-content: space-evenly;
}
.start{
    transition: all 1s ease-in-out .3s;
}
.start:hover .img{
    background-color: darkblue;
    height: 12rem;
    width: 12rem;
}
.img{
    height: 10rem;
    width: 10rem;
}
.about{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    background-color: black;
    color: rgb(95, 155, 223);
    margin: 0%;
    text-shadow: 4px 4px 5px white;
}
.us{
    padding: 20px;
    text-align: center;
    background-color: black;
    text-shadow: 2px 2px 2px rgb(230, 183, 212);
}
.us p{
    display: inline;
    color: white;
}
.us::first-letter{
    font-size: 50px;
    padding: 0%;
    margin: 0%;
}
.form1{
    background-color: #d9a4a4;
    width: 690px;
    margin: auto;
    border: 1px solid black;
    border-radius: 124px;
    transition: background-color 1s ease-in-out .3s;
}
.form1:hover{
    background-color: #abe2db;
}
#form{
    width: 150px;
    margin: auto;
    font-size: 58px;
    text-shadow: 6px 6px 3px grey;
    color: darkblue;
}
.form{
    display: block;
    width: 520px;
    height: 210px;
    margin: 3px auto;
}
input{
    border-radius: 6px;
    font-size: 16px;
    margin: 5px 57px;
    padding: 3px;
    text-align: center;
    width: 395px;
}
input[type="submit"]{
    position: relative;
    left: 158px; 
    width: 80px;
}
input[type="submit"]:hover{
    background-color: black;
    color: white;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
}